<h1><%= @party.name %></h1>

<p>
Pokemon: <%= @party.pokemons.map(&:nickname).join(", ") %>
</p>

<%= link_to "All Parties", parties_path %><br>
<%= link_to "Edit Party", edit_party_path(@party) %><br>
<%= link_to "Delete Party", @party, method: :delete, data: { confirm: "Delete Party permanently?" } %>

