<h1><%= @party.name %></h1>
<p><%= @pokemon1.nickname %></p>
<p><%= @pokemon2.nickname %></p>
<p><%= @pokemon3.nickname %></p>
<p><%= @pokemon4.nickname %></p>
<p><%= @pokemon5.nickname %></p>
<p><%= @pokemon6.nickname %></p>

<%= link_to "All Parties", parties_path %>
<%= link_to "Edit Party", edit_party_path(@party) %> 
