<h1>Choose Your Pokemon</h1>

<%= form_for(@pokemon) do |f| %>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %><br>

    <label>Species</label>
    <%= collection_select(:pokemon, :species_id, Species.all, :id, :name) %><br>

    <%= f.submit %>
<% end %>