<h1>New Trainer</h1>

<%= form_for(@trainer) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br/>

    <%= f.label :age %>
    <%= f.number_field :age %><br/>

    <%= f.submit %>
<% end %>